@charset "UTF-8";
@keyframes zoomHero {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(1.1, 1.1, 1.1);
    opacity: 1;
  }
}
@keyframes scrollScale {
  0% {
    opacity: 0;
    scale: 25%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

img {
  max-width: 10rem;
}

.btnPrimary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b63636;
  color: #fff;
  padding: 0.3rem 1rem;
  margin: 0px auto;
  text-decoration: none;
  border-radius: 0.3rem;
}
.btnPrimary:hover {
  background-color: #fff;
  color: #000;
}

.contenedorBody {
  max-width: 75rem;
  margin: 0px auto;
}

.contenedorHeader {
  background-color: darkgray;
  position: sticky;
  top: 0rem;
  z-index: 99;
}

h1,
h2 {
  text-align: center;
}

/**** INICIO FOOTER ****/
footer {
  text-align: center;
  background-color: #000;
  padding-top: 1rem;
  color: #fff;
}
footer p {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}
footer i {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}
footer hr {
  margin: 0rem;
}

.footerInfo--contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
.footerInfo--contacto i {
  padding-block: 0.3rem;
}

.footerInfo--contactoCard {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
}

.footerInfo--redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
.footerInfo--redes i {
  padding-inline: 0.6rem;
}

.footerDevelopers {
  background-color: #000;
  padding-block: 0.5rem;
}
.footerDevelopers p {
  font-size: 0.7rem;
}

.footer_Link,
.footer_Link :is(:link, :visited, :hover) {
  color: #fff;
  text-decoration: none;
}

/**** FIN FOOTER ****/
/**** INICIO HERO ****/
.hero {
  overflow: hidden;
}

.imgInicio,
.imgNosotros,
.imgServicios,
.imgNoticias,
.imgContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 20rem;
  margin-bottom: 1.3rem;
  background-size: cover;
  background-position: center;
  animation-name: zoomHero;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.imgInicio h1,
.imgNosotros h1,
.imgServicios h1,
.imgNoticias h1,
.imgContacto h1 {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 10px #000;
  padding-inline: 1rem;
}
.imgInicio p,
.imgNosotros p,
.imgServicios p,
.imgNoticias p,
.imgContacto p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 0 10px #000;
  padding-inline: 1rem;
  text-align: center;
}

/**** FIN HERO ****/
.imgInicio {
  background-image: url(../imagenes/hero-inicio.jpg);
}

.imgNosotros {
  background-image: url(../imagenes/hero-nosotros.jpg);
}

.imgServicios {
  background-image: url(../imagenes/hero-servicios.jpg);
}

.imgNoticias {
  background-image: url(../imagenes/hero-noticias.jpg);
}

.imgContacto {
  background-image: url(../imagenes/hero-contacto.jpeg);
}

.navbar {
  max-width: 80rem;
  margin: 0px auto;
}
.navbar .nav-link.active, .navbar .nav-link.show {
  color: #b63636;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link:hover {
  color: #b63636;
}

.navbar-brand img {
  width: 3rem;
  height: 3rem;
}

ul {
  margin-bottom: 0rem;
}

.accordion {
  width: 100%;
  --bs-accordion-active-bg: $color-principal;
  --bs-accordion-active-color: $color-blanco;
}

.accordion-body ul li {
  text-align: left;
  margin-bottom: 1rem;
}

/**** Página Inicio ****/
.servicioSection,
.equipoSection,
.clientesSection,
.contactoSection {
  margin-top: 1.3rem;
  padding-top: 1.3rem;
}

/**** Section Servicios  ****/
.serviciosInicioContenedorCard {
  background-color: #ddd;
  margin-top: 1.3rem;
  padding: 2rem 2rem;
  border-radius: 1.3rem;
}

.serviciosInicioCardIzq,
.serviciosInicioCardDer {
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.serviciosInicioCardIzq img,
.serviciosInicioCardDer img {
  display: flex;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #666;
  text-align: center;
  margin-bottom: 1rem;
}

.serviciosInicioCardIzq--texto,
.serviciosInicioCardDer--texto {
  display: flex;
  flex-direction: column;
}
.serviciosInicioCardIzq--texto h3,
.serviciosInicioCardDer--texto h3 {
  margin-bottom: 1rem;
  text-align: center;
}
.serviciosInicioCardIzq--texto p,
.serviciosInicioCardDer--texto p {
  text-align: justify;
}

.btnMoreService {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

/****  Section Extracto   ****/
.extractoSection {
  background-image: url(../imagenes/fondoExtracto.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 1.3rem;
  padding: 5.6rem 2rem;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

/****  Section Equipo   ****/
.equipoSection {
  background-color: #ddd;
}

.equipoLista {
  display: block;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

.equipoCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 1.3rem auto;
  padding-block: 1rem;
}

.equipoCard:hover {
  box-shadow: inset 0 0 0.9rem 0 #666;
  border-radius: 1rem;
}
.equipoCard:hover:hover {
  transform: scale(1.05);
  padding: 1rem;
}

.equipoCardImg {
  border-radius: 20%;
  margin-bottom: 1rem;
}

/****  Section Clientes   ****/
.clientesLista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 200px));
  gap: 2rem;
  margin: 0px auto;
  justify-content: center;
  padding-bottom: 1rem;
}

.clientesLogo {
  align-self: center;
  justify-self: center;
  margin: 1.3rem auto;
}

/****  Section Contacto   ****/
.contactoSection {
  background-image: url(../imagenes/body-contacto.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactoSection h2 {
  text-shadow: 2px 2px 0.5px #fff;
}

.contactoMap {
  width: 80%;
  margin: 1.3rem auto;
  height: 22rem;
  border: 0;
}

.contactoDetalle {
  display: block;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.contactoInfo {
  align-self: center;
  text-align: center;
  margin-block: 3rem;
}
.contactoInfo p {
  padding: 0.7rem 2rem;
  font-weight: 500;
  color: #000;
  background-color: #ddd;
  border-radius: 20px;
  margin-inline: 10%;
}

.contactoForm {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 2rem;
  max-width: 20rem;
  margin: 0px auto;
}
.contactoForm h3 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.contactoForm :is(input[type=text], input[type=email], textarea) {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contactoForm #mensaje {
  margin-bottom: 0.5rem;
}
.contactoForm label {
  margin-top: 0.5rem;
}
.contactoForm textarea {
  resize: none;
  height: 150px;
}

/**** FIN Inicio ****/
/**** Página Nosotros ***/
.sobreNosotrosP {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-inline: 2rem;
}

.nosotrosCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  width: 90%;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.5rem 0 #666;
}

.nosotrosCardTitulo {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.nosotrosCardPuesto {
  margin-bottom: 0rem;
}

/**** Fin Nosotros ****/
/**** Página Servicios ***/
.servicioCard {
  view-timeline-name: --servicio;
  view-timeline-axis: block;
  animation-timeline: --servicio;
  animation-name: scrollScale;
  animation-range: entry 30% cover 50%;
  animation-fill-mode: both;
}
.servicioCard h2 {
  color: #666;
  text-shadow: 1px 1px 1px #000;
  margin-bottom: 1rem;
}

.servicioCardIzq,
.servicioCardDer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
  padding-inline: 2rem;
}
.servicioCardIzq img,
.servicioCardDer img {
  max-width: 20rem;
  margin-block: 1rem;
  box-shadow: px 2px 4px 1px #666;
}

/**** FIN Servicios ****/
/**** Página Noticias ***/
.sectionNoticias {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(331px, 1fr));
  justify-content: center;
}

.cardNoticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  border: 0.1rem solid #666;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
  text-align: justify;
}
.cardNoticias img {
  max-width: 100%;
  margin-block: 1rem;
}
.cardNoticias h4 {
  text-align: center;
  font-weight: bold;
}

/**** FIN Noticias ****/
/* ***   MEDIA QUERY *** */
/* sm */
@media (min-width: 576px) {
  .equipoLista {
    display: flex;
    flex-wrap: wrap;
  }
  .equipoCard {
    flex: 50%;
  }
  .footerInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footerInfo i {
    padding-block: 0.3rem;
  }
  .footerInfo--contactoCard {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
}
/* md */
@media (min-width: 768px) {
  .contactoDetalle,
  .equipoLista,
  .serviciosInicioCardIzq,
  .serviciosInicioCardDer {
    display: flex;
  }
  .serviciosInicioCardIzq,
  .serviciosInicioCardDer {
    margin-bottom: 2rem;
    gap: 2rem;
  }
  .serviciosInicioCardDer {
    flex-direction: row-reverse;
  }
  .serviciosInicioCardIzq--texto {
    align-items: start;
    text-align: left;
  }
  .serviciosInicioCardDer--texto {
    align-items: end;
    text-align: right;
  }
  .contactoInfo p {
    margin-inline: 0rem;
  }
  .contactoForm {
    margin: 0rem;
  }
  .nosotrosCardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2rem;
  }
  .nosotrosCardHeader div {
    margin-left: 2rem;
  }
  .servicioCardIzq {
    flex-direction: row;
    gap: 2rem;
  }
  .servicioCardDer {
    flex-direction: row-reverse;
    gap: 2rem;
  }
  .footerInfo--redes {
    display: flex;
    flex-direction: row;
  }
  .footerInfo--redes i {
    padding-inline: 0.8rem;
  }
  .footerInfo--contactoCard {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
}
/* lg */
@media (min-width: 992px) {
  .equipoCard {
    flex: 25%;
  }
  .serviciosInicioContenedorCard {
    padding-inline: 4.5rem;
  }
  .serviciosInicioCardIzq--texto {
    padding-right: 11rem;
  }
  .serviciosInicioCardDer--texto {
    padding-left: 11rem;
  }
  .footerInfo {
    justify-content: space-between;
  }
  .footerInfo--contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footerInfo--contacto i {
    padding-left: 1.2rem;
  }
  .footerInfo--contactoCard {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
}
/* xl */
@media (min-width: 1200px) {
  .serviciosInicioContenedorCard {
    padding-inline: 9rem;
  }
  .serviciosInicioCardIzq--texto {
    padding-right: 11rem;
  }
  .serviciosInicioCardDer--texto {
    padding-left: 11rem;
  }
  .footerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 75rem;
    align-items: center;
    margin: auto;
  }
  .footerInfo--contactoCard {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
}

/*# sourceMappingURL=style.css.map */
