* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;

  font-family: "Playpen Sans", cursive;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-blanco: #fff;
  --color-negro: #000;
  --color-gris: #666;
  --color-body: #fff;
  --color-principal: #000;
  --color-secundario: #000;
  --btn-back-principal: #b63636;
  --btn-back-secundario: #fff;
  --btn-text-principal: #fff;
  --btn-text-secundario: #000;
}

body {
  background-color: var(--color-body);
}

img {
  max-width: 10rem;
}

/****   UTILIDADES ****/
.btnPrimary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-back-principal);
  color: var(--btn-text-principal);
  padding: 0.3rem 1rem;
  margin: 0px auto;
  text-decoration: none;
  border-radius: 0.3rem;
}

.btnPrimary:hover {
  background-color: var(--btn-back-secundario);
  color: var(--btn-text-secundario);
}

.contenedorBody {
  max-width: 75rem;
  margin: 0px auto;
}

.contenedorHeader {
  background-color: darkgray;
  position: sticky;
  top: 0rem;
  z-index: 99;
}

h1,
h2 {
  text-align: center;
}

/****  INICIO Modificaciones Bootstrap  ****/
.navbar {
  max-width: 80rem;
  margin: 0px auto;
  .nav-link {
    &.active,
    &.show {
      color: var(--color-blanco);
    }
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link:hover {
  color: var(--color-blanco);
}

.navbar-brand {
  & img {
    width: 3rem;
    height: 3rem;
  }
}

ul {
  margin-bottom: 0rem;
}

.accordion {
  width: 100%;
  --bs-accordion-active-bg: var(--color-gris);
  --bs-accordion-active-color: var(--color-blanco);
}

.accordion-body {
  & ul {
    & li {
      text-align: left;
      margin-bottom: 1rem;
    }
  }
}

/****  FIN Modificaciones Bootstrap ****/

/**** HEADER ****/

/**** FOOTER ****/
footer {
  text-align: center;
  background-color: black;
  padding: 1rem;
  color: white;
}

.footerA,
.footerA:link,
.footerA:visited,
.footerA:hover {
  color: #fff;
  text-decoration: none;
}

/**** HERO ****/

:is(.imgInicio, .imgNosotros, .imgServicios, .imgNoticias, .imgContacto) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  margin-bottom: 1.3rem;
  background-size: cover;
  background-position: center;
  & h1 {
    font-size: 3rem;
    color: var(--color-blanco);
    text-shadow: 0 0 10px black;
  }
  & p {
    margin-bottom: 1rem;
  }
}

.imgInicio {
  background-image: url(../imagenes/hero-inicio.jpg);
}

.imgNosotros {
  background-image: url(../imagenes/hero-nosotros.jpg);
}

.imgServicios {
  background-image: url(../imagenes/hero-servicios.jpg);
}

.imgNoticias {
  background-image: url(../imagenes/hero-noticias.jpg);
}

.imgContacto {
  background-image: url(../imagenes/hero-contacto.jpg);
}

:is(.servicioSection, .equipoSection, .clientesSection, .contactoSection) {
  margin-top: 1.3rem;
  padding-top: 1.3rem;
}

/**** Servicios Inicio  ****/
.servicioSection {
  text-align: center;
}

.servicioSectionP {
  padding-inline: 2rem;
}

.serviciosInicioContenedorCard {
  background-color: rgb(215, 215, 215);
  margin-top: 1.3rem;
  padding: 2rem 2rem;
  border-radius: 1.3rem;
}

:is(.serviciosInicioCardIzq, .serviciosInicioCardDer) {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.serviciosInicioCardDer {
  flex-direction: row-reverse;
}

:is(.serviciosInicioCardIzq--texto, .serviciosInicioCardDer--texto) {
  display: flex;
  flex-direction: column;
  & h3 {
    margin-bottom: 1rem;
  }
}

.btnMoreService {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

/****  Section Extracto   ****/
.extractoSection {
  background-image: url(../imagenes/hero4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 1.3rem;
  padding: 5.6rem 2rem;
  text-align: center;
  font-size: 1.3rem;
  color: #fff;
  text-shadow: 0 0 5px black;
}

/****  Section Equipo   ****/
.equipoSection {
  background-color: rgb(205, 205, 205);
}

.equipoLista {
  display: block;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

.equipoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1.3rem auto;
  padding-block: 1rem;
}

.equipoCard:hover {
  box-shadow: inset 0 0 0.9rem 0 var(--color-gris);
  border-radius: 1rem;
}

.equipoCardImg {
  border-radius: 20%;
  margin-bottom: 1rem;
}

/****  Section Clientes   ****/
.clientesLista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 200px));
  gap: 2rem;
  margin: 0px auto;
  justify-content: center;
  padding-bottom: 1rem;
}

.clientesLogo {
  align-self: center;
  justify-self: center;
  margin: 1.3rem auto;
}

/****  Section Contacto   ****/
.contactoSection {
  background-image: url(../imagenes/hero-contacto.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactoMap {
  width: 80%;
  margin: 1.3rem auto;
  height: 22rem;
}

.contactoFooter {
  display: block;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.contactoInfo {
  align-self: center;
  text-align: center;
  margin-block: 3rem;
  & p {
    padding: 1rem;
  }
}

.contactoForm {
  background-color: rgb(169, 169, 169);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 2rem;
  max-width: 20rem;
  margin: 0px auto;
  & h3 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  & :is(input[type="text"], input[type="email"], textarea) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  & #mensaje {
    margin-bottom: 0.5rem;
  }
  & label {
    margin-top: 0.5rem;
  }
}

.sobreNosotrosP {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-inline: 2rem;
}

.nosotrosCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  width: 90%;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.5rem 0 var(--color-gris);
}

.nosotrosCardTitulo {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.nosotrosCardPuesto {
  margin-bottom: 0rem;
}

:is(.servicioCardIzq, .servicioCardDer) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding-inline: 2rem;
  & img {
    margin-block: 1rem;
    box-shadow: 2px 2px 4px 1px var(--color-gris);
  }
}

/* sm */
@media (min-width: 576px) {
  :is(.equipoLista, ) {
    display: flex;
    flex-wrap: wrap;
  }

  .equipoCard {
    flex: 50%;
  }
}

/* md */
@media (min-width: 768px) {
  :is(
      .contactoFooter,
      .equipoLista,
      .serviciosInicioCardIzq,
      .serviciosInicioCardDer
    ) {
    display: flex;
  }

  :is(.serviciosInicioCardIzq, .serviciosInicioCardDer) {
    margin-bottom: 2rem;
    gap: 2rem;
  }

  .serviciosInicioCardIzq--texto {
    align-items: start;
    text-align: left;
  }

  .serviciosInicioCardDer--texto {
    align-items: end;
    text-align: right;
  }

  .contactoForm {
    margin: 0px;
  }

  .nosotrosCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    & div {
      margin-left: 2rem;
    }
  }

  .servicioCardIzq {
    flex-direction: row;
    gap: 2rem;
  }

  .servicioCardDer {
    flex-direction: row-reverse;
    gap: 2rem;
  }
}

/* lg */
@media (min-width: 992px) {
  .equipoCard {
    flex: 25%;
  }

  .serviciosInicioContenedorCard {
    padding-inline: 4.5rem;
  }

  .serviciosInicioCardIzq--texto {
    padding-right: 11rem;
  }

  .serviciosInicioCardDer--texto {
    padding-left: 11rem;
  }
}

/* xl */
@media (min-width: 1200px) {
  .serviciosInicioContenedorCard {
    padding-inline: 9rem;
  }

  .serviciosInicioCardIzq--texto {
    padding-right: 11rem;
  }

  .serviciosInicioCardDer--texto {
    padding-left: 11rem;
  }
}
