* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

img {
  max-width: 150px;
}

.contenedorBody {
  padding: 0px 100px;
}

h1,
h2 {
  text-align: center;
}

/**** HEADER ****/
.cabecera {
  background-color: darkgray;
  position: sticky;
  top: 0%;
  width: 100%;
  padding: 20px 0px 20px 50px;
  z-index: 99;
}

.logo {
  display: inline-block;
  width: 20%;
}

.menu {
  display: inline-block;
  width: 70%;
  text-align: right;
  position: absolute;
  vertical-align: middle;
  text-decoration: none;
}

.menu ul li {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 10px;
}

li a,
li .a:visited {
  text-decoration: none;
  color: #000;
}

li a:hover {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 0px;
}
/**** FIN HEADER ****/

/**** FOOTER ****/
footer {
  text-align: center;
  background-color: black;
  padding: 15px;
  color: white;
}

.footerA,
.footerA:link,
.footerA:visited,
.footerA:hover {
  color: #fff;
  text-decoration: none;
}
/**** FIN FOOTER ****/

/**** HERO ****/
.hero {
  border: 0.5px solid black;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.imgInicio {
  background-image: url(../imagenes/hero-inicio.jpg);
  background-size: cover;
}

.imgNosotros {
  background-image: url(../imagenes/hero-nosotros.jpg);
  background-size: cover;
}

.imgServicios {
  background-image: url(../imagenes/hero-servicios.jpg);
  background-size: cover;
}

.imgNoticias {
  background-image: url(../imagenes/hero-noticias.jpg);
  background-size: cover;
}

.imgContacto {
  background-image: url(../imagenes/hero-contacto.jpg);
  background-size: cover;
}

.hero h1 {
  margin-top: 100px;
  margin-bottom: 10px;
}

.hero p,
.hero a {
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
/**** FIN HERO ****/

.servicioSectionP {
  text-align: center;
  padding: 20px 0px;
}

.serviciosInicio {
  background-color: rgb(182, 181, 181);
  margin: 10px 10px;
  padding: 20px 20px;
  border-radius: 20px;
}

.serviciosInicio h3 {
  margin: 25px 0px 5px 0px;
}

.serviciosInicio p {
  margin: 0px 0px 5px 0px;
}

.btnMoreService {
  display: block;
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.serviciosArticleImg {
  display: inline-block;
  width: 20%;
  margin-inline-start: 20px;
  margin-bottom: 25px;
}

.serviciosArticleTextoDer {
  display: inline-block;
  width: 74%;
  text-align: right;
  padding: 0px 0px 0px 200px;
}

.serviciosArticleTextoIzq {
  display: inline-block;
  width: 74%;
  text-align: left;
  padding: 0px 200px 0px 0px;
}

.extractoSection {
  background-image: url(../imagenes/hero4.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 20px 0px;
  padding: 90px 10px;
  text-align: center;
  font-size: 18px;
  color: white;
}

.equipoSection {
  background-color: rgb(205, 205, 205);
  margin-top: 20px;
  padding-top: 20px;
}

.equipoCard {
  display: inline-block;
  margin: 20px 10px;
  width: 180px;
}

.equipoCard h3,
.equipoCard p {
  text-align: center;
}

.equipoCardImg {
  border-radius: 20%;
  margin: 0px 20px;
}

.clientesSection {
  margin-top: 20px;
  padding-top: 20px;
}

.clientesLogo {
  margin: 20px 0px;
  margin-inline-start: 10px;
  display: inline-block;
}

.contactoSection {
  background-color: rgb(192, 192, 192);
  margin-top: 20px;
  padding: 20px 0px 0px 0px;
}

.contactoMap {
  width: 80%;
  height: 350px;
  padding: 20px;
  position: relative;
  left: 10%;
}

.contactoFooter {
  margin-bottom: 10px;
  display: block;
  position: relative;
}

.contactoInfo {
  display: inline-block;
  text-align: center;
  width: 60%;
  position: absolute;
  top: 30%;
}

.contactoInfo p {
  padding: 20px;
}

.contactoForm {
  background-color: rgb(169, 169, 169);
  display: inline-block;
  width: 35%;
  padding: 20px 0 20px 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
}

.contactoForm h3 {
  text-align: center;
}

label,
input,
textarea {
  display: block;
  margin: 10px;
  padding: 5px;
}

.btnPrimary {
  display: inline-block;
  background-color: brown;
  padding: 5px;
}
