@import "./partials/variables.scss";
@import "./partials/mixins.scss";
@import "./partials/normalilze";
@import "./partials/footer.scss";
@import "./partials/_hero.scss";
@import "./partials/heroImagenes.scss";

body {
  background-color: $color-body;
}

img {
  max-width: 10rem;
}

.btnPrimary {
  @include flex-center-center;
  background-color: $btn-back-principal;
  color: $btn-text-principal;
  padding: 0.3rem 1rem;
  margin: 0px auto;
  text-decoration: none;
  border-radius: 0.3rem;
  &:hover {
    background-color: $btn-back-secundario;
    color: $btn-text-secundario;
  }
}

.contenedorBody {
  max-width: 75rem;
  margin: 0px auto;
}

.contenedorHeader {
  background-color: darkgray;
  position: sticky;
  top: 0rem;
  z-index: 99;
}

h1,
h2 {
  text-align: center;
}

.navbar {
  max-width: 80rem;
  margin: 0px auto;
  .nav-link {
    &.active,
    &.show {
      color: $color-principal;
    }
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-link:hover {
  color: $color-principal;
}

.navbar-brand {
  & img {
    width: 3rem;
    height: 3rem;
  }
}

ul {
  margin-bottom: 0rem;
}

.accordion {
  width: 100%;
  --bs-accordion-active-bg: $color-principal;
  --bs-accordion-active-color: $color-blanco;
}

.accordion-body {
  & ul {
    & li {
      text-align: left;
      margin-bottom: 1rem;
    }
  }
}

.servicioSection,
.equipoSection,
.clientesSection,
.contactoSection {
  margin-top: 1.3rem;
  padding-top: 1.3rem;
}

/**** Servicios Inicio  ****/
.serviciosInicioContenedorCard {
  background-color: $color-gris-light;
  margin-top: 1.3rem;
  padding: 2rem 2rem;
  border-radius: 1.3rem;
}

.serviciosInicioCardIzq,
.serviciosInicioCardDer {
  background-color: aliceblue;
  padding: 2rem;
  border-radius: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  & img {
    display: flex;
    margin: 0 auto;
    box-shadow: 5px 5px 10px $color-gris;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.serviciosInicioCardIzq--texto,
.serviciosInicioCardDer--texto {
  display: flex;
  flex-direction: column;
  & h3 {
    margin-bottom: 1rem;
    text-align: center;
  }
  & p {
    text-align: justify;
  }
}

.btnMoreService {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

/****  Section Extracto   ****/
.extractoSection {
  background-image: url(../imagenes/hero4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 1.3rem;
  padding: 5.6rem 2rem;
  text-align: center;
  font-size: 1.3rem;
  color: $color-blanco;
  text-shadow: 0 0 5px $color-negro;
}

/****  Section Equipo   ****/
.equipoSection {
  background-color: $color-gris-light;
}

.equipoLista {
  display: block;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1rem;
}

.equipoCard {
  @include flex-center-center;
  flex-direction: column;
  text-align: center;
  margin: 1.3rem auto;
  padding-block: 1rem;
}

.equipoCard:hover {
  box-shadow: inset 0 0 0.9rem 0 $color-gris;
  border-radius: 1rem;
}

.equipoCardImg {
  border-radius: 20%;
  margin-bottom: 1rem;
}

/****  Section Clientes   ****/
.clientesLista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 200px));
  gap: 2rem;
  margin: 0px auto;
  justify-content: center;
  padding-bottom: 1rem;
}

.clientesLogo {
  align-self: center;
  justify-self: center;
  margin: 1.3rem auto;
}

/****  Section Contacto   ****/
.contactoSection {
  background-image: url(../imagenes/hero-contacto.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactoMap {
  width: 80%;
  margin: 1.3rem auto;
  height: 22rem;
  border: 0;
}

.contactoDetalle {
  display: block;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.contactoInfo {
  align-self: center;
  text-align: center;
  margin-block: 3rem;
  & p {
    padding: 1rem;
    font-weight: 500;
  }
}

.contactoForm {
  background-color: $color-gris-light;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 2rem;
  max-width: 20rem;
  margin: 0px auto;
  & h3 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
  }
  & :is(input[type="text"], input[type="email"], textarea) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  & #mensaje {
    margin-bottom: 0.5rem;
  }
  & label {
    margin-top: 0.5rem;
  }
  & textarea {
    resize: none;
    height: 150px;
  }
}

/**** Página Nosotros ***/
.sobreNosotrosP {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-inline: 2rem;
}

.nosotrosCard {
  @include flex-center-center;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1rem;
  text-align: center;
  width: 90%;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.5rem 0 $color-gris;
}

.nosotrosCardTitulo {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.nosotrosCardPuesto {
  margin-bottom: 0rem;
}

/**** Página Servicios ***/
.servicioCard {
  & h2 {
    color: $color-gris;
    text-shadow: 1px 1px 1px $color-negro;
    margin-bottom: 1rem;
  }
}

.servicioCardIzq,
.servicioCardDer {
  @include flex-center-center;
  flex-direction: column;
  text-align: justify;
  padding-inline: 2rem;
  & img {
    max-width: 20rem;
    margin-block: 1rem;
    box-shadow: px 2px 4px 1px $color-gris;
  }
}

/**** Página Noticias ***/
.sectionNoticias {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(331px, 1fr));
  justify-content: center;
}

.cardNoticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-gris-light;
  border: 0.1rem solid $color-gris;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
  text-align: justify;

  & img {
    max-width: 100%;
    margin-block: 1rem;
  }
}

/* ***   MEDIA QUERY *** */
/* sm */
@media (min-width: 576px) {
  .equipoLista {
    display: flex;
    flex-wrap: wrap;
  }

  .equipoCard {
    flex: 50%;
  }
}

/* md */
@media (min-width: 768px) {
  .contactoDetalle,
  .equipoLista,
  .serviciosInicioCardIzq,
  .serviciosInicioCardDer {
    display: flex;
  }

  .serviciosInicioCardIzq,
  .serviciosInicioCardDer {
    margin-bottom: 2rem;
    gap: 2rem;
  }

  .serviciosInicioCardDer {
    flex-direction: row-reverse;
  }

  .serviciosInicioCardIzq--texto {
    align-items: start;
    text-align: left;
  }

  .serviciosInicioCardDer--texto {
    align-items: end;
    text-align: right;
  }

  .contactoForm {
    margin: 0px;
  }

  .nosotrosCardHeader {
    @include flex-center-center;
    flex-direction: row;
    margin-bottom: 2rem;
    & div {
      margin-left: 2rem;
    }
  }

  .servicioCardIzq {
    flex-direction: row;
    gap: 2rem;
  }

  .servicioCardDer {
    flex-direction: row-reverse;
    gap: 2rem;
  }
}

/* lg */
@media (min-width: 992px) {
  .equipoCard {
    flex: 25%;
  }

  .serviciosInicioContenedorCard {
    padding-inline: 4.5rem;
  }

  .serviciosInicioCardIzq--texto {
    padding-right: 11rem;
  }

  .serviciosInicioCardDer--texto {
    padding-left: 11rem;
  }
}

/* xl */
@media (min-width: 1200px) {
  .serviciosInicioContenedorCard {
    padding-inline: 9rem;
  }

  .serviciosInicioCardIzq--texto {
    padding-right: 11rem;
  }

  .serviciosInicioCardDer--texto {
    padding-left: 11rem;
  }
}
