/* ***   MEDIA QUERY *** */
/* sm */
@media (min-width: 576px) {
  .equipoLista {
    display: flex;
    flex-wrap: wrap;
  }

  .equipoCard {
    flex: 50%;
  }

  .footerInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & i {
      padding-block: 0.3rem;
    }
  }

  .footerInfo--contactoCard {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
}

/* md */
@media (min-width: 768px) {
  .contactoDetalle,
  .equipoLista,
  .serviciosInicioCardIzq,
  .serviciosInicioCardDer {
    display: flex;
  }

  .serviciosInicioCardIzq,
  .serviciosInicioCardDer {
    margin-bottom: 2rem;
    gap: 2rem;
  }

  .serviciosInicioCardDer {
    flex-direction: row-reverse;
  }

  .serviciosInicioCardIzq--texto {
    align-items: start;
    text-align: left;
  }

  .serviciosInicioCardDer--texto {
    align-items: end;
    text-align: right;
  }

  .contactoInfo p {
    margin-inline: 0rem;
  }

  .contactoForm {
    margin: 0rem;
  }

  .nosotrosCardHeader {
    @include flex-center-center;
    flex-direction: row;
    margin-bottom: 2rem;
    & div {
      margin-left: 2rem;
    }
  }

  .servicioCardIzq {
    flex-direction: row;
    gap: 2rem;
  }

  .servicioCardDer {
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .footerInfo--redes {
    display: flex;
    flex-direction: row;

    & i {
      padding-inline: 0.8rem;
    }
  }

  .footerInfo--contactoCard {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
}

/* lg */
@media (min-width: 992px) {
  .equipoCard {
    flex: 25%;
  }

  .serviciosInicioContenedorCard {
    padding-inline: 4.5rem;
  }

  .serviciosInicioCardIzq--texto {
    padding-right: 11rem;
  }

  .serviciosInicioCardDer--texto {
    padding-left: 11rem;
  }

  .footerInfo {
    justify-content: space-between;
  }

  .footerInfo--contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    & i {
      padding-left: 1.2rem;
    }
  }
  .footerInfo--contactoCard {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
}

/* xl */
@media (min-width: 1200px) {
  .serviciosInicioContenedorCard {
    padding-inline: 9rem;
  }

  .serviciosInicioCardIzq--texto {
    padding-right: 11rem;
  }

  .serviciosInicioCardDer--texto {
    padding-left: 11rem;
  }

  .footerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 75rem;
    align-items: center;
    margin: auto;
  }

  .footerInfo--contactoCard {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
}
