.imgInicio {
  background-image: url(../imagenes/hero-inicio.jpg);
}

.imgNosotros {
  background-image: url(../imagenes/hero-nosotros.jpg);
}

.imgServicios {
  background-image: url(../imagenes/hero-servicios.jpg);
}

.imgNoticias {
  background-image: url(../imagenes/hero-noticias.jpg);
}

.imgContacto {
  background-image: url(../imagenes/hero-contacto.jpeg);
}
