/**** Página Servicios ***/
.servicioCard {
  & h2 {
    color: $color-gris;
    text-shadow: 1px 1px 1px $color-negro;
    margin-bottom: 1rem;
  }

  view-timeline-name: --servicio;
  view-timeline-axis: block;

  animation-timeline: --servicio;
  animation-name: scrollScale;
  animation-range: entry 30% cover 50%;
  animation-fill-mode: both;
}

.servicioCardIzq,
.servicioCardDer {
  @include flex-center-center;
  flex-direction: column;
  text-align: justify;
  padding-inline: 2rem;
  & img {
    max-width: 20rem;
    margin-block: 1rem;
    box-shadow: px 2px 4px 1px $color-gris;
  }
}
/**** FIN Servicios ****/
