$color-blanco: #fff;
$color-negro: #000;
$color-gris: #666;
$color-gris-light: #ddd;
$color-body: #fff;
$color-principal: #b63636;
$color-secundario: #000;
$btn-back-principal: #b63636;
$btn-back-secundario: #fff;
$btn-text-principal: #fff;
$btn-text-secundario: #000;
